$uni-background: rgb(101, 118, 134);
$uni-background-opaque: rgba(101, 118, 134, 0.541);
$uni-main: rgba(46, 166, 177, 0.925);
$uni-main-disabled: rgba(46, 166, 177, 0.555);
$uni-main-hover: rgb(41, 145, 155);
$red-warning: rgba(235, 37, 37, 0.953);
$bright-border: rgb(204, 204, 204);
$success-element: rgb(63, 181, 91);
$danger-element: rgb(236, 87, 60);
$warning-element: rgb(255, 174, 26);
$warning-element-hover: rgb(234, 160, 24);
$selected-element: rgb(0, 136, 203);
